:root {
  --black: #18161f;
  --gray: #787490;
  --white-ice: #d6d4e2;
  --whute: #ffffff;
  --blue-marine-: #00d9c0
}

html,
body {
  width: 100%;
  height: 100vh;

  font-family: 'Space Grotesk', sans-serif;
  background: var(--black);
  background-image: url(../assents/blur.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: var(--white-ice);
  cursor: default;
}

a {
  color: var(--black);
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  width: 1600px;
  margin-left: 100px;
}

.logo {
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

.user-login {
  color: var(--white-ice);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-login:hover {
  text-decoration: underline;
}


.user-login img {
  margin-right: 10px;
}

.user-register {
  cursor: pointer;
  color: var(--white-ice);
  border: 1px solid var(--gray);
  border-radius: 32px;
  padding: 20px;
}

.main {
  padding: 50px 40px 0px 50px;
  display: flex;
  margin-left: 100px;
  width: 1650px;
}

.class-status {
  display: flex;
  align-items: center;
  height: 100px;
  width: 300px
}

.class-status img {
  margin-right: 20px;
}


.banner {
  display: flex;
}

.information h1 {
  font-weight: bold;
  font-size: 82px;
  line-height: 80px;
  margin-bottom: 70px;
  text-align: start;
}

.information p {
  max-width: 800px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;

  text-align: start;
  color: var(--white-ice);
}

.foto {

  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;

}

.foto img {
  width: 600px;
}


.btn-regiter {
  padding-top: 50px;
  display: flex;
  align-items: center;
  height: 200px;
}

.btn-regiter button {
  cursor: pointer;

  padding: 34px 78px;
  border-radius: 90px;
  border: none;
  letter-spacing: 0.9px;
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
  background: var(--blue-marine-);


}


.btn-regiter button:hover {
  text-decoration: underline;

}



.right {
  padding-top: 60px;
}